Source: canna
Section: utils
Priority: optional
Maintainer: Junichi Uekawa <dancer@debian.org>
Build-Depends: debhelper (>= 4.1.59), libx11-dev, xutils, dpatch, po-debconf, autoconf2.13, ptex-bin
Standards-Version: 3.6.2

Package: canna
Architecture: any
Depends: ${shlibs:Depends}, debconf, adduser (>= 3.34)
Conflicts: canna-server, libcanna1g (<= 3.5b2-33)
Replaces: canna-server
Suggests: canna-shion
Description: A Japanese input system (server and dictionary).
 Canna is a Japanese input system available in Free Software.
 Canna provides a unified user interface for inputting Japanese.
 .
 Canna supports Nemacs, Mule, kinput2 and canuum.  All of these
 tools can be used by a single customization file, romaji-to-kana
 conversion rules and conversion dictionaries, and input Japanese in
 the same way.
 .
 Canna converts kana to kanji based on a client-server model and
 supports automatic kana-to-kanji conversion.
 .
 This package includes the cannaserver program and dictionary files.

Package: canna-utils
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: canna (<= 3.5b2-33), libcanna1g (<= 3.5b2-33)
Description: A japanese input system (utility).
 Canna is a Japanese input system available in Free Software.
 This package includes canna client programs.

Package: libcanna1g
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, debconf
Conflicts: canna (<= 3.5b2-33)
Description: Canna Runtime Library
 Canna is a Japanese input system available in Free Software.
 This package includes canna shared libraries.

Package: libcanna1g-dev
Section: libdevel
Architecture: any
Depends: libcanna1g
Conflicts: canna-dev, libcanna1-dev, canna (<= 3.5b2-23)
Replaces: canna-dev
Description: Canna Static Library and Headers
 Canna is a Japanese input system available in Free Software.
 This package includes header and static libraries.
