#!/usr/bin/make -f
#

package=canna
PWD=$(shell pwd)

build:	build-stamp
build-stamp:
	dh_testdir

	## make libc6 version only.
	xmkmf
	make Makefile
	make cannaconf.h
	make canna

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -rf build-stamp

	-make clean
	-rm -f doc/intern/canna.sty doc/lisp/canna.sty doc/man/guide/tex/canna.sty doc/misc/canna.sty
	find -name "Makefile*" | xargs rm -f

	dh_clean

# Build architecture-independent files here.
binary-indep: build
#Nothing

# Build architecture-dependent files here.
binary-arch: build
	dh_testdir -a
	dh_testroot -a
	dh_clean -a -k
	dh_installdirs -a

	#
	# Canna Install
	#
	make install \
		cannaBinDir=`pwd`/debian/tmp/usr/bin \
		cannaSrvDir=`pwd`/debian/tmp/usr/sbin \
		cannaLibDir=`pwd`/debian/tmp/var/lib/canna \
		cannaEtcDir=`pwd`/debian/tmp/etc/canna \
		cannaShareDir=`pwd`/debian/tmp/usr/share/canna \
		cannaManDir=`pwd`/debian/tmp/usr/share/man \
		cannaIncDir=`pwd`/debian/tmp/usr/include/canna \
		libCannaDir=`pwd`/debian/tmp/usr/lib \
		cannaDocDir=`pwd`/debian/tmp/usr/share/doc/libcanna1g \
		DicDir=`pwd`/debian/tmp/var/lib/canna/dic \
		ErrDir=`pwd`/debian/tmp/var/log/canna
	make install.man \
		cannaManDir=`pwd`/debian/tmp/usr/share/man \
		MANSUFFIX=1 LIBMANSUFFIX=3

	(cd debian/tmp/usr/bin/ && rm -f cpdic lsdic mkdic mvdic rmdic syncdic addwords delwords cannakill)
	rm -f debian/tmp/etc/canna/default.canna
	cp debian/tmp/usr/bin/catdic debian/tmp/usr/bin/cannakill

	install -m 644 debian/hosts.canna debian/tmp/etc
	install -d -m 755 debian/tmp/etc/canna/dics.dir.d
	install -m 644 debian/tmp/var/lib/canna/dic/canna/dics.dir debian/tmp/etc/canna/dics.dir.d/00canna.dics.dir
	rm -f debian/tmp/var/lib/canna/dic/canna/dics.dir

	install -m 755 debian/update-canna-dics_dir debian/tmp/usr/sbin
	#install -d -m 755 debian/tmp/usr/share/man/man8
	#install -m 644 debian/update-canna-dics_dir.8 debian/tmp/usr/share/man/man8
	#
	# End 
	#

	dh_installdebconf       
	dh_installexamples
	dh_installmenu
	dh_movefiles
	-rmdir -p debian/tmp/usr/share/doc/libcanna1g/sample/src
	-rmdir -p debian/tmp/usr/include/canna debian/tmp/usr/lib
	dh_installdocs -A README.jp README WHATIS WHATIS.jp 
	dh_installexamples
	dh_undocumented canlisp.1 crfreq.1 crxdic.1 crxgram.1 dpxdic.1\
		forcpp.1 forsort.1 kpdic.1 mergeword.1 syncdic.1
	dh_installinit
#	dh_installmenu	
#	dh_installcron
#	dh_installmanpages
	dh_installchangelogs CHANGES.jp
	dh_strip
	dh_link
	dh_compress
	dh_fixperms
#	dh_suidregister
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

source diff:
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary:	binary-indep binary-arch
.PHONY: binary binary-arch binary-indep clean build
